<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<h1>注册</h1>
<form method="post">
    <label for="i_username">用户名</label>
    <input type="text" id="i_username" name="username">
    <br>
    <label for="i_password">密码</label>
    <input type="password" id="i_password" name="password">
    <br>
    <label for="i_admin">是否管理员</label>
    <input type="checkbox" id="i_admin" name="is_admin">
    <br>
    <input type="submit">
</form>
</body>
</html>